/* Changing default styling==============*/
html, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

::-webkit-scrollbar {
  width: 0px;  
  background: transparent;  
}

.grid-container {
  background-color: #dfece3;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr 3fr;
}




/*Loader==================================*/
#loader {
  position: relative;
  margin: 45vh auto;
  border: 16px solid #ffffff;
  border-radius: 50%;
  border-top: 7px solid #4ABDAC;
  width: 90px;
  height: 90px;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  50% { transform: rotate(360deg); }
  100% { transform: rotate(720deg); }
}


/*Greeting===============================*/
.greeting {
  background-color: #DFDCE3;
  min-height: 100%;
}

#message1_2, #button1_2, #message1_3, #button1_3 {
  display: none;
}

/*Step Process===========================*/
.section-header {
  text-align: center;
  grid-column: 1 / 5;
  font-weight: 700;
  font-size: 40px;
  padding: 50px;
  margin: 0px auto;
}

img {
  width: 45%;
  border-radius: 5px;
  margin: 0px auto 130px auto;
}

p {
  width: 80%;
}
.img-left {
  grid-column: 1 / 2;
}

.text-left {
  grid-column: 2 / 3;
}

.img-right {
  grid-column: 3 / 4;
}

.text-right {
  grid-column: 4 / 5;
}


/*About===================================*/
.biosection {
  background-color: #ab987a;
  position: relative;
  color: #0f1626;
}

.biography {
  font-size: 17px;
  width: 70%;
  max-width: 700px;
  margin: auto;
  padding: 60px 50px;
}

.biography > p {
  line-height: 1.9em;
  text-indent: 30px;
  margin-bottom: 50px;
}

.biography h2 {
  font-weight: 400;
  color: #ab987a;
}

#biopic{
  position: relative;
  background-image: url("../images/profilepic.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  opacity: 1;
  margin: 20px auto;
  transform: rotate(90deg);
}


/*Client Review===========================*/
.title {
  grid-column: 1 / 5;
  color: #ab987a;
}

.project {
  grid-column: 1 / 5;
  width: 70%;
  margin: 20px auto 70px auto;
  color: #ab987a;
  font-size: 18px;
}

.client {
  grid-column:  1 / 2;
  transition: opacity 0.8s;
}

.description {
  color: #000000;
  line-height: 1.9em;
  text-align: justify;
  font-size: 17px;
}

.position {
  font-style: italic;
  font-size: 16px;
}




/*Social Media===========================*/
.social {
  font-size: 12px;
  width: 300px;
  margin: 50px auto 10px auto;
}

 a > i {
  display: block;
  margin: 10px 15px;
}

i.fab, i.free{
  color: #ab987a;
}