/* Changing default styling=============*/
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  scroll-behavior: smooth;
}

::-webkit-scrollbar { 
  display: none; 
}



/*Parrallax=============================*/
.parrallax {
  background-image: url("../images/jumbotron.jpg");
  height: 100vh;
  filter: brightness(0.09);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  transition: filter 1.6s;
}

.parrallax:hover {
  filter: brightness(0.5);
}

.intro {
  position: absolute;
  text-align: center;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #f3f3f3;
}

.name {
  font-size: 90px;
  margin-bottom: -10px;
}

button {
  outline: none;
  background-color: #ff533d;
  color: #f3f3f3;
  padding: 20px;
  border: 3px;
  border-radius: 15px;
  margin: 5px auto;
  transition: opacity 1s, transform 1s;
}

button:hover {
  cursor: pointer;
  transform: scale(1.1);
}



/*Step Process==========================*/
.process {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr 4fr;
  background-color: #ffffff;
  color: #46423d;
}

.section-title {
  grid-column: 1 / 5;
  font-weight: 400;
  font-size: 21px;
  margin: 140px auto 5px auto;
}

.section-header {
  grid-column: 1 / 5;
  width: 50%;
  font-weight: 700;
  font-size: 42px;
  text-align: center;
  margin: 0px auto 150px auto;
}

.steps {
  width: 60%;
  text-align: center;
  margin: 15px auto 90px auto;
  transition: transform 0.9s, opacity 0.3s;
}

.steps:hover {
  cursor: pointer;
  transform: scale(1.2);
}

#one {
  grid-column: 1 / 3;
}

#two {
  grid-column: 3 / 5;
}

#three {
  grid-column: 1 / 3;
  margin-bottom: 130px;
}

#four {
  grid-column: 3 / 5;
  margin-bottom: 130px;
}

.steps img {
  float: left;
  width: 80px;
  height: 80px;
  border-radius: 4px;
  margin-bottom: 30px;
}

.steps h2 {
  display: inline;
  font-weight: 700;
}

.steps p {
  clear: both;
  font-size: 17px;
  margin: auto;
}




/*Client Review======================*/
.reviews {
  display: grid;
  grid-template-columns: 1fr 2fr;
  background-color: #f3f3f3;
  color: #46423d;
}

.wave {
  grid-column: 1 / 3;
  height: 150px;
  overflow: hidden;
}

.svg {
  height: 100%; 
  width: 100%;
}

.details {
  grid-column: 1 / 2;
  width: 70%;
  margin: 20px auto 120px auto;
  font-size: 18px;
}

.position {
  font-style: italic;
  font-size: 14px;
}

.description {
  line-height: 1.9em;
  text-align: justify;
  font-size: 17px;
}

.url {
  color: #ff533d;
  font-style: italic;
  font-size: 15px;
}

a {
  text-decoration: none;
}

.screenshots {
  grid-column: 2 / 3;
  float: left;
  height: 200px;
  width: 460px;
  border-radius: 3px;
  margin: 20px 0px 0px 20px;
  transition: opacity 1s, transform 1s;
}

.screenshots:hover {
  cursor: pointer;
  transform: scale(1.1);
}



/*Recommendations============*/
.recommendations {
  display: grid;
  grid-template-columns: 1fr 2fr;
  background-color: #ffffff;
  margin-bottom: 200px;
}

.helpers {
  grid-column: 1 / 2;
  width: 300px;
  height: 300px;
  border-radius: 6px;
  margin: 10px auto;
}

.recommend {
  grid-column: 2 / 3;
  width: 73%;
  margin: -20px 0px 10px 0px;
  font-size: 18px;
}



/*Footer====================*/
.footer {
  margin: 20px auto;
}

.item {
  width: 30px;
  height: 30px;
  margin: 5px 15px;
}