/* Changing default styling==============*/
html, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

::-webkit-scrollbar {
  width: 0px;  
  background: transparent;  
}





/*Loader==================================*/
#loader {
  position: relative;
  margin: 45vh auto;
  border: 16px solid #ffffff;
  border-radius: 50%;
  border-top: 7px solid #4ABDAC;
  width: 90px;
  height: 90px;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  50% { transform: rotate(360deg); }
  100% { transform: rotate(720deg); }
}




/*Opening===============================*/
.grid-container1 {
  background-color: #4ABDAC;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr;
  grid-template-rows: 0.5fr 1fr 1fr 0.5fr;
}

.grid-container1 img {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  width: 50%;
  margin: auto;
}

.grid-container1 button {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  background-color: #F7B733;
  color: #ffffff;
  opacity: 0.8;
  width: 30%;
  padding: 7px 20px;
  border-radius: 8px;
  margin: 35px auto;
  transition: opacity 0.7s;
}

.grid-container1 button:hover {
  opacity: 1;
  cursor: pointer;
}

.grid-container1 button:focus {
  outline: none;
}

#button1_2, #button1_3 {
  display: none;
}





/*Step Process===========================*/
.grid-container2 {
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 1fr 1fr 3fr 4fr 1fr 3fr 1fr;
  width: 100vw;
}

.wave {
  grid-column: 1 / 8;
  height: 150px;
  overflow: hidden;
}

.section-header1 { 
  color: #4ABDAC;
  text-align: center;
  grid-column: 1 / 8;
  font-weight: 700;
  font-size: 45px;
  padding: 50px;
  margin: 0px auto;
}

img {
  width: 50%;
  border-radius: 5px;
  margin: auto;
}

p {
  color: #ffffff;
  text-align: center;
  width: 80%;
  margin: auto;
}

.img-left {
  grid-column: 2 / 3;
}

.text-left {
  grid-column: 3 / 4;
  background-color: #4ABDAC;
  padding-bottom: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.giddy-explain {
  grid-column: 4 / 5;
  width: 100%;
}

#button2_2 {
  display: none;
}

.img-right {
  grid-column: 5 / 6;
}

.text-right {
  grid-column: 6 / 7;
  background-color: #4ABDAC;
  border-radius: 10px;
  padding-bottom: 15px;
  padding-left: 7px;
  margin-bottom: 10px;
}

h3 {
  color: #ffffff;
  text-align: center;
}

/*About===================================*/
.biosection {
  background-color: #ab987a;
  position: relative;
  color: #0f1626;
}

.biography {
  font-size: 17px;
  width: 70%;
  max-width: 700px;
  margin: auto;
  padding: 60px 50px;
}

.biography > p {
  line-height: 1.9em;
  text-indent: 30px;
  margin-bottom: 50px;
}

.biography h2 {
  font-weight: 400;
  color: #ab987a;
}

#biopic{
  position: relative;
  background-image: url("../images/profilepic.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  opacity: 1;
  margin: 20px auto;
  transform: rotate(90deg);
}




/*Client Review===========================*/
.title {
  grid-column: 1 / 5;
  color: #ab987a;
}

.project {
  grid-column: 1 / 5;
  width: 70%;
  margin: 20px auto 70px auto;
  color: #ab987a;
  font-size: 18px;
}

.client {
  grid-column:  1 / 2;
  transition: opacity 0.8s;
}

.description {
  color: #000000;
  line-height: 1.9em;
  text-align: justify;
  font-size: 17px;
}

.position {
  font-style: italic;
  font-size: 16px;
}





/*Social Media===========================*/
.social {
  font-size: 12px;
  width: 300px;
  margin: 50px auto 10px auto;
}

 a > i {
  display: block;
  margin: 10px 15px;
}

i.fab, i.free{
  color: #ab987a;
}