//Color scheme
$primary: #03F7EE;
$secondary: #00B295;
$tertiary: #AB2346;

//Standard colors
$dark: #0D1317;
$light: #FFFFFF;
$card-back: #333;
$shadow: rgba(0, 0, 0, 0.2);
$line: #545581;

//Font family and weights
$family: 'Open Sans', sans-serif;
$light-font: 100;
$regular-font: 400;
$bold-font: 700;