/* Changing default styling==========*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

.grid-container {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  justify-content: center;
  align-content: center;
}

.heading {
  color: #ffffff;

}



/*Header=============================*/
#number {
  float: right;
}

.call {
  grid-column: 1 / 2;
  text-align: center;
  margin: 5px;
  align-content: center;
}

.schedule {
  grid-column: 4 / 5;
  padding: 9px;
  border: 1px solid #F7882f;
  border-radius: 11px;
  background-color: #ffffff;
  color: #F7882f;
  margin: 5px;
}

.schedule:hover {
  background-color: #F7882f;
  color: #ffffff;
  transition: 0.4s;
  cursor: pointer;
}






/*Parrallax=========================*/
.parrallax {
  background-image: url("../MISC/jumbotron.jpg");
  grid-column: 1 / 5;
  height: 750px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.name {
  position: absolute;
  text-align: center;
  grid-column: 1 / 5;
  top: 50%;
  left: 50%;
  font-size: 70px;
  font-weight: 800;
  color: white;
}



/*Biography========================*/



/*Step Process=====================*/
#goal {
  text-align: center;
  display: block;
  grid-column: 1 / 5;
  padding: 50px;
  margin: auto;
}

.steps {
  background-color: #dcc7aa;
  grid-column: 1 /5;
}

.step1 {
  grid-column: 1 / 2;
}

.step2 {
  grid-column: 2 / 3;
}
.step3 {
  grid-column: 3 / 4;
}
.step4 {
  grid-column: 4 / 5;
}
