/* Changing default styling*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}


/*Header*/
.call {
  grid-column: 1 / 2;
}



.schedule {
  grid-column: 3 / 5;
  padding: 9px;
  border: 1px solid #F7882f;
  border-radius: 11px;
  background-color: #ffffff;
  color: #F7882f;
}



/*Parrallax*/
.parrallax {
  background-image: url("../MISC/jumbotron.jpg");
  height: 700px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
  
}

.name {
  position: absolute;
  top: 50%;
  left: 45%;
  color: white;
  font-size: 60px;
}

/*Step Process */
.steps {
  background-color: #dcc7aa;
}

