/* Changing default styling==========*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

::-webkit-scrollbar {
  width: 0px;  
  background: transparent;  
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-content: center;
  background-color: #ab987a;
  color: #ffffff;
}

.grid-container2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
  justify-content: center;
  align-content: center;
  background-color: #ffffff;
  color: #ab987a;
  margin: auto;
}




/*Header=============================*/
nav > a {
  padding: 30px;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
}
.home {
  grid-column: 1 / 2;
  background-color: #0f1626;
}

.about {
  grid-column: 2 / 3;
  background-color: #f5f5f5;
  color: #000000;
}

.blog {
  grid-column: 3 / 4;
  background-color: #ff533d;
}



/*Parrallax=========================*/
.parrallax {
  background-image: url("../MISC/jumbotron.jpg");
  grid-column: 1 / 5;
  height: 750px;
  filter: brightness(0.1);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  transition: filter 2s;
}

.parrallax:hover {
  filter: brightness(1);
}

.name {
  position: absolute;
  text-align: center;
  grid-column: 1 / 5;
  top: 40%;
  left: 40%;
  font-size: 30px;
  color: white;
}

button {
  outline: none;
  background-color: #ab987a;
  color: #ffffff;
  padding: 20px;
  border: none;
  border-radius: 15px;
  margin: 5px auto;
  transition: opacity 1s, transform 1s;
}

button:hover {
  cursor: pointer;
  opacity: 0.9;
  transform: scale(1.1);
}



/*Step Process=====================*/
.section-header {
  grid-column: 1 / 6;
  text-align: center;
  display: block;
  font-weight: 700;
  font-size: 40px;
  padding: 50px;
  margin: 50px auto;
}

.steps {
  grid-column: 2 / 5;
  margin-bottom: 25%;
  margin-left: 100px;
  width: 100%;
  opacity: 0.8;
  transition: transform 2s, opacity 1s;
}

.steps:hover {
  cursor: pointer;
  opacity: 1;
  transform: scale(1.2);
}

img {
  float: left;
}

h3 {
  font-weight: 700;
}

p {
  font-size: 16px;
}


/*Portfolio==========*/
.grid-container > h1 {
  padding: 10px;
  margin: 0 auto;
}

h4 {
  grid-column: 1 / 6;
  text-align: center;
  display: block;
  font-weight: 700;
  font-size: 25px;
  margin: auto;
  margin-bottom: 90px;
}

.client, i {
  color: #ff533d;
}

.review {
  text-align: justify;
  padding: 17px;
  border: 1px solid #ff533d;
  border-radius: 10px;
  margin: 5px;
}

.review1 {
  grid-column: 1 / 2;
}

.review2 {
  grid-column: 2 / 3;
}

.review3 {
  grid-column: 3 / 4;
}



/*About=============*/
.biosection {
  background-color: #f5f5f5;
  color: #0f1626 ;
  position: relative;
  border-radius: 3px;
  grid-column: 1 / 5;
  font-size: 17px;
}

.biography {
  grid-column: 1 / 5;
  font-size: 18px;
  width: 70%;
  max-width: 700px;
  margin: 60px auto;
  padding: 50px;
  border: none;
  border-radius: 9px;
}

div.biography > p {
  font-size: 16px;
  line-height: 1.8em;
  text-indent: 30px;
}

.biopic {
  float: right;
  width: 230px;
  height: 250px;
  border-radius: 50%;
  opacity: 1;
  margin: 20px;
  transform: rotate(90deg);
}


h2 {
  font-weight: 400;
  color: #ab987a;
}



/*Blog======================*/
#blog-page {
  background-color: #ff533d;
  color: #ffffff;
}

.blog-title {
  font-weight: 400;
  font-size: 19px;
  text-align: center;
  width: 250px;
  height: 70px;
  margin: 10px;
}

.article1 {
  grid-column: 1 / 2;
}

.article2 {
  grid-column: 2 / 3;  
}

.image {
  filter: brightness(0.6);
  border-radius: 10px;
  width: 250px;
  height: 200px;
  margin: 10px;
}



/*Footer============*/
#footerspace {
  margin-bottom: 50px;
}

footer {
  background-color: #0f1626;
  color: #ffffff;
  text-align: center;
  font-size: 12px;
  height: 150px;
}

footer > span:before {
  content: ' \00A9'
}

 a > i {
  margin: 20px 50px;
}

i.fab {
  color: #ffffff;
}