/*Variables====================*/
/* Generic Styling=============*/
body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  overflow-x: hidden;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
}

/*Section blocks=============*/
.section-title {
  font-weight: 400;
  font-size: 21px;
  text-align: center;
  margin: 140px auto 5px auto;
}

.section-header {
  width: 55%;
  font-weight: 700;
  font-size: 42px;
  text-align: center;
  margin: 0px auto 90px auto;
}

.wave {
  width: 100%;
  height: 150px;
  overflow: hidden;
}

.wave svg {
  height: 100%;
  width: 100%;
}

ul {
  display: -ms-grid;
  display: grid;
  width: 60%;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: (minmax(320px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 3rem;
}

.space {
  margin-bottom: 200px;
}

/*Header=================*/
.parrallax {
  background-image: url("../images/jumbotron.jpg");
  height: 100vh;
  -webkit-filter: brightness(0.3);
          filter: brightness(0.3);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  -webkit-transition: -webkit-filter 1.6s;
  transition: -webkit-filter 1.6s;
  transition: filter 1.6s;
  transition: filter 1.6s, -webkit-filter 1.6s;
}

.parrallax:hover {
  -webkit-filter: brightness(0.6);
          filter: brightness(0.6);
}

.intro {
  position: absolute;
  text-align: center;
  width: 80%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #f3f3f3;
}

.intro .name {
  font-size: 90px;
  margin-bottom: -10px;
}

button {
  outline: none;
  background-color: #ff533d;
  color: #f3f3f3;
  padding: 20px;
  border: 3px;
  border-radius: 15px;
  margin: 5px auto;
  -webkit-transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, transform 1s;
  transition: opacity 1s, transform 1s, -webkit-transform 1s;
}

button:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

/*Step Process===========*/
.process {
  background-color: #ffffff;
  color: #46423d;
}

.steps {
  width: 90%;
  margin-bottom: 100px;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.9s;
  transition: opacity 0.3s, -webkit-transform 0.9s;
  transition: transform 0.9s, opacity 0.3s;
  transition: transform 0.9s, opacity 0.3s, -webkit-transform 0.9s;
}

.steps:hover {
  cursor: pointer;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

li {
  list-style-type: none;
  width: 60%;
  margin: auto;
}

li img {
  width: 80px;
  height: 80px;
  border-radius: 4px;
  margin-bottom: 30px;
}

.steps h2 {
  font-weight: 700;
}

.steps article {
  font-size: 17px;
  margin: auto;
}

/*Client Review======================*/
.reviews {
  background-color: #f3f3f3;
  color: #46423d;
}

.details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 70%;
  margin: 20px auto 60px auto;
  font-size: 18px;
}

#space {
  margin-top: 160px;
}

.position {
  font-style: italic;
  font-size: 14px;
}

.description {
  line-height: 1.9em;
  text-align: justify;
  font-size: 17px;
}

.url {
  color: #ff533d;
  font-style: italic;
  font-size: 15px;
}

.screenshots {
  height: 250px;
  width: 400px;
  border-radius: 3px;
  margin: 10px;
  -webkit-transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, transform 1s;
  transition: opacity 1s, transform 1s, -webkit-transform 1s;
}

.screenshots:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

/*Recommendations and Footer============*/
.recommendations {
  background-color: #ffffff;
  margin-bottom: 150px;
}

footer {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: (minmax(80px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  grid-gap: 5rem;
}

footer .icons {
  width: 50%;
  margin: 0px auto;
}

.item {
  width: 35px;
  height: 35px;
  margin: 5px 15px;
}

/*Extra Respondsive design===*/
@media screen and (min-width: 1060px) {
  .details {
    width: 50%;
  }
}
/*# sourceMappingURL=index.css.map */