/*Colors==============================*/
/*Font and partials import=============*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
/*Mixins and Extends===================*/
.button, .parrallax .intro .contact {
  outline: none;
  border: none;
  padding: 15px;
  margin: 5px auto;
}

.shadow {
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow: 3px 3px 5px 6px #ccc;
}

/*Generic styling=====================*/
body {
  background-color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  text-align: center;
  overflow-x: hidden;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

::-webkit-scrollbar {
  display: none;
}

.heading {
  padding: 80px 0px 100px 0px;
}

/*Parrallax Header===================*/
.parrallax {
  background-image: url("../images/jumbotron.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: -15px;
  height: 100vh;
  width: 100vw;
}

.parrallax .intro {
  position: absolute;
  color: #ffffff;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.parrallax .intro .contact {
  background-color: #ff533d;
  color: #ffffff;
  -webkit-transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, transform 1s;
  transition: opacity 1s, transform 1s, -webkit-transform 1s;
}

.parrallax .intro .contact:hover {
  background-color: #ff533d;
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

/*Step Process======================*/
.process {
  background-color: #f8f6f6;
}

.process .step {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 5px;
  background-color: #ffffff;
}

.process .step:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 8px 18px 0 rgba(0, 0, 0, 0.7);
          box-shadow: 0 8px 18px 0 rgba(0, 0, 0, 0.7);
}

.process .step img {
  width: 80px;
  height: 80px;
  margin: 30px 0px;
}

.process .step article {
  font-size: 17px;
}

/*Shape Divider======================*/
.divide {
  position: relative;
  height: 300px;
  background-color: #f8f6f6;
}

.divide svg {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30vw;
}

/* Big half circle */
#bigHalfCircle path {
  fill: #f8f6f6;
  stroke: #f8f6f6;
}

/*Client Review======================*/
.position {
  font-style: italic;
  font-size: 14px;
}

.description {
  line-height: 1.9em;
  text-align: justify;
  font-size: 17px;
}

.screenshot {
  height: 310px;
  border-radius: 10px;
  -webkit-transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, transform 1s;
  transition: opacity 1s, transform 1s, -webkit-transform 1s;
}

.screenshot:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.bg {
  background-color: #f8f6f6;
}
/*# sourceMappingURL=index.css.map */