/* Changing default styling==========*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

.grid-container {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  justify-content: center;
  align-content: center;
  background-color: #080c16;
  color: #ffffff;
}

.grid-container2 {
  display: grid;
  grid-template-columns: 16.66% 16.66% 16.66% 16.66% 16.66% 16.66%; 
  justify-content: center;
  align-content: center;
}

.grid-container2 > div {
  text-align: center;
  padding: 10px;
  border: none;
  border-radius: 10px;
  margin: 1px;
  
}




/*Header=============================*/
nav > a {
  padding: 30px;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
}
.home {
  grid-column: 1 / 2;
  background-color: #f5f5f5;
  color: #000000;
}

.about {
  grid-column: 2 / 3;
  background-color: #0f1626;
}

.portfolio {
  grid-column: 3 / 4;
  background-color: #ab987a;
}

.contact {
  grid-column: 4 / 5;
  background-color: #ff533d;
}



/*Parrallax=========================*/
.parrallax {
  background-image: url("../MISC/jumbotron.jpg");
  grid-column: 1 / 5;
  height: 750px;
  filter: brightness(0.1);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  transition: filter 2s;
}

.parrallax:hover {
  filter: brightness(1);
}

.name {
  position: absolute;
  text-align: center;
  grid-column: 1 / 5;
  top: 40%;
  left: 40%;
  font-size: 30px;
  color: white;
}




/*Step Process=====================*/
.container {
  grid-column: 1 /5;
  margin: auto;
  min-width: 600px;
}


.goal {
  grid-column: 1 / 5;
  text-align: center;
  display: block;
  font-weight: 700;
  font-size: 40px;
  padding: 50px;
  margin: auto;
}

.steps {
  grid-column: 1 / 5;
  margin-bottom: 25%;
  width: 100%;
  opacity: 0.8;
  transition: transform 2s, opacity 1s;
}

.steps:hover {
  cursor: pointer;
  opacity: 1;
  transform: scale(1.2);
}

img {
  float: left;
}

h3 {
  font-weight: 700;
}

p {
  font-size: 14px;
}





/*Language Stack==================*/
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext{
  visibility: visible;
}

.html {
  grid-column: 1 / 2;
  background-color: hsl(28, 100%, 40%);
}

.css {
  grid-column: 2 / 3;
  background-color: hsl(28, 100%, 50%);
}

.js {
  grid-column: 3 / 4;
  background-color: hsl(28, 100%, 60%);
}

.php {
  grid-column: 4 / 5;
  background-color: hsl(28, 100%, 70%);
}

.sql {
  grid-column: 5 / 6;
  background-color: hsl(28, 100%, 80%);
}

.py {
  grid-column: 6 / 7;
  background-color: hsl(28, 100%, 90%);
}




/*Biography=========================*/
.biosection {
  background-color: #F7882f;
  position: relative;
  border-radius: 3px;
  grid-column: 1 / 5;
  font-size: 17px;
}

.biography {
  background-color: #ffffff;
  grid-column: 1 / 5;
  font-size: 18px;
  width: 70%;
  max-width: 700px;
  margin: 60px auto;
  padding: 50px;
  border: none;
  border-radius: 9px;
}

div.biography > p {
  font-size: 18px;
  line-height: 1.8em;
  text-indent: 30px;
}

.biopic {
  float: right;
  width: 200px;
  height: 180px;
  border-radius: 50%;
  opacity: 1;
  margin: 20px;
}






/*Client Review===================*/
.review1 {
  grid-column: 2 / 4;
  padding: 40px;
  border: 1px solid #000000;
  border-radius: 50%;
}

.review2 {
  grid-column: 4 / 6;
  padding: 40px;
  border: 1px solid #000000;
  border-radius: 50%;
}

.review3 {
  grid-column: 1 / 4;
  padding: 40px;
  border: 1px solid #000000;
  border-radius: 50%;
}


