/*Shape Dividers======================*/
.half-circle {
  width: 100%;
  height: 120px;
  margin-bottom: -10px;

  path {
	fill: $background-2;
	stroke: $background-2;
  }
}

.slant {
  height: 170px;
  width: 100%;
  
  path {
    fill: $background-2
  }
}