//Make person's name and position match color scheme
.name {
  color: $light;
} 

.position {
  color: $light;
  font-style: italic;
  font-size: 0.8rem;
}  

//Make recommendation format as a paragraph
article {
  text-indent: 3rem;
  color: $light;
  line-height: 1.9rem;
  text-align: justify;
  font-size: 1rem;
}