.progress-container {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 8px;
  background: $dark;

  .progress-bar {
    height: 8px;
    background-color: $primary;
    width: 0%;
  }
}

.data-box{
  z-index: 2;
}

#fade1, #fade2, #fade3{
  opacity: 0;
}

.bg-black-transparent{
  background-color: rgba(0, 0, 0, 0.7)
}

.w-92{
  width: 27rem;
}

.p-6{
  padding: 1rem;
}

.main-div{
  margin-top: 600px;
}

canvas{
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
}

body{
  margin: 0;
  overflow-x: hidden;
}

.wrapper{
  margin : 20px;
}

#intro{
 position: relative;
 top: 5rem;
 margin: 0 auto;
 font-family: 'Arsenal', sans-serif;
  color: #fff;
  text-align: center;
  width:  1px;
  height: 1px;
}

canvas{
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
}

body{
  margin: 0;
  overflow-x: hidden;
}

.wrapper{
  margin : 20px;
}

.outer-div{
  text-align: center;
  font-family: 'Arsenal', sans-serif;
  color: #fff;
}


