.name {
  color: $light;
} 

.position {
  color: $light;
  font-style: italic;
  font-size: 14px;
}  

article {
  text-indent: 30px;
  color: $light;
  line-height: 1.9em;
  text-align: justify;
  font-size: 17px;
}