@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
body {
  background-color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  text-align: center;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  display: none;
}

.bg {
  background-color: #f8f6f6;
}

.heading {
  padding: 80px 0px 100px 0px;
}

.button, .parrallax .intro .btn {
  outline: none;
  border: none;
  padding: 15px;
  margin: auto;
}

/*Shape Dividers======================*/
.half-circle path {
  fill: #f8f6f6;
  stroke: #f8f6f6;
}

.slant {
  height: 170px;
  width: 100%;
}

.slant path {
  fill: #f8f6f6;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

label {
  -webkit-perspective: 1000px;
          perspective: 1000px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  display: block;
  width: 300px;
  height: 200px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  cursor: pointer;
}

label .card {
  position: relative;
  height: 100%;
  width: 100%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: all 600ms;
  transition: all 600ms;
  z-index: 20;
}

label .card section {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #FFF;
  text-align: center;
  line-height: 200px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-radius: 2px;
}

label .card .front {
  background-image: url("../images/lame-games/header.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 28px;
  color: #ffffff;
}

label .card .back {
  background: #222;
  color: #FFF;
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}

label:hover .card {
  -webkit-transform: rotateX(20deg);
          transform: rotateX(20deg);
  -webkit-box-shadow: 0 20px 20px rgba(50, 50, 50, 0.2);
          box-shadow: 0 20px 20px rgba(50, 50, 50, 0.2);
}

input {
  display: none;
}

:checked + .card {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}

label:hover :checked + .card {
  -webkit-transform: rotateX(160deg);
          transform: rotateX(160deg);
  -webkit-box-shadow: 0 20px 20px rgba(255, 255, 255, 0.2);
          box-shadow: 0 20px 20px rgba(255, 255, 255, 0.2);
}

/*Parrallax Header===================*/
.parrallax {
  background-image: url("../images/jumbotron.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: -15px;
  height: 100vh;
  width: 100vw;
}

.parrallax .intro {
  position: absolute;
  color: #ffffff;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.parrallax .intro .btn {
  background-color: #ff533d;
  color: #ffffff;
  -webkit-transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, transform 1s;
  transition: opacity 1s, transform 1s, -webkit-transform 1s;
}

.parrallax .intro .btn:hover {
  background-color: #ff533d;
  cursor: pointer;
  -webkit-transform: scale(1.13);
          transform: scale(1.13);
}

/*Step Process======================*/
.process {
  background-color: #f8f6f6;
}

.process .step {
  background-color: #ffffff;
  -webkit-box-shadow: 10px 10px 6px 5px #ccc;
          box-shadow: 10px 10px 6px 5px #ccc;
  border-radius: 12px;
  -webkit-transition: 0.9s;
  transition: 0.9s;
}

.process .step:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.process .step img {
  width: 80px;
  height: 80px;
  margin: 30px 0px;
}

.process .step article {
  font-size: 17px;
}

/*Recommendations========================*/
.position {
  font-style: italic;
  font-size: 14px;
}

.description {
  line-height: 1.9em;
  text-align: justify;
  font-size: 17px;
}
/*# sourceMappingURL=index.css.map */