@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
body {
  background-color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  text-align: center;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  display: none;
}

.bg {
  background-color: #f8f6f6;
}

.heading {
  padding: 80px 0px 100px 0px;
}

.button, label .card .back button, .parrallax .intro .btn {
  outline: none;
  border: none;
  padding: 15px;
  margin: auto;
}

.position {
  font-style: italic;
  font-size: 14px;
}

.description {
  line-height: 1.9em;
  text-align: justify;
  font-size: 17px;
}

article {
  text-indent: 30px;
}

/*Shape Dividers======================*/
.half-circle {
  width: 100%;
  height: 110px;
  margin-bottom: -10px;
  margin-top: 200px;
}

.half-circle path {
  fill: #f8f6f6;
  stroke: #f8f6f6;
}

.slant {
  height: 170px;
  width: 100%;
}

.slant path {
  fill: #f8f6f6;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal .modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: none;
  width: 80%;
  -webkit-animation-name: zoom;
          animation-name: zoom;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
}

.modal .modal-content .close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: 700;
}

.modal .modal-content:hover, .modal .modal-content:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes zoom {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

label {
  -webkit-perspective: 1000px;
          perspective: 1000px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  display: block;
  height: 250px;
  cursor: pointer;
}

label input {
  display: none;
}

label:hover .card {
  -webkit-transform: rotateX(20deg);
          transform: rotateX(20deg);
  -webkit-box-shadow: 0 20px 20px rgba(50, 50, 50, 0.2);
          box-shadow: 0 20px 20px rgba(50, 50, 50, 0.2);
}

label .card {
  position: relative;
  height: 100%;
  width: 100%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: all 600ms;
  transition: all 600ms;
  z-index: 20;
}

label .card section {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #FFF;
  text-align: center;
  line-height: 200px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-radius: 2px;
}

label .card .front {
  font-size: 30px;
  font-weight: 700;
  color: #ffffff;
}

label .card .front img {
  width: 100%;
  height: 100%;
}

label .card .back {
  background-color: #f8f6f6;
  color: #f8f6f6;
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}

label .card .back button {
  background-color: #f8f6f6;
  color: #46423d;
  font-size: 17px;
  height: 10%;
  width: 150px;
}

label .card .back :hover {
  cursor: pointer;
}

:checked + .card {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}

label:hover :checked + .card {
  -webkit-transform: rotateX(160deg);
          transform: rotateX(160deg);
  -webkit-box-shadow: 0 20px 20px rgba(255, 255, 255, 0.2);
          box-shadow: 0 20px 20px rgba(255, 255, 255, 0.2);
}

/*Parrallax Header===================*/
.parrallax {
  background-image: url("../images/jumbotron.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: -15px;
  height: 100vh;
  width: 100vw;
}

.parrallax .intro {
  position: absolute;
  color: #ffffff;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.parrallax .intro .btn {
  background-color: #ff533d;
  color: #ffffff;
  -webkit-transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, transform 1s;
  transition: opacity 1s, transform 1s, -webkit-transform 1s;
}

.parrallax .intro .btn:hover {
  cursor: pointer;
  -webkit-transform: scale(1.13);
          transform: scale(1.13);
}

/*Step Process======================*/
.process {
  background-color: #f8f6f6;
}

.process .step {
  background-color: #ffffff;
  -webkit-box-shadow: 10px 10px 6px 5px #ccc;
          box-shadow: 10px 10px 6px 5px #ccc;
  border-radius: 12px;
  -webkit-transition: 0.9s;
  transition: 0.9s;
}

.process .step:hover {
  cursor: pointer;
}

.process .step img {
  width: 80px;
  height: 80px;
  margin: 30px 0px;
}

.process .step article {
  font-size: 17px;
}

/*Footer=================================*/
.icon {
  width: 35px;
  height: 35px;
  margin-right: 14px;
  margin-bottom: 20px;
}

.icon:hover {
  opacity: 0.8;
  -webkit-transform: scale(1.13);
          transform: scale(1.13);
}