.card {
  color: $light;
  background-color: $card-back;
  margin-bottom: 2rem;
  transition: color ease 0.5s;

  &:hover {
    color: $light * 0.8;
    cursor: pointer;
  }

  .card-img-top {
    height: 45vh;
  }
}