.intro{
  position: absolute;
  top: 30%;
  color: $light;

  h1 {
    font-size: 7rem;
    font-weight: $bold-font;
  }

  p {
    font-size: 1.1rem;
  }
}

.carousel-item {
  height: 100vh;
  min-height: 40vh;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}